name: Test

on:
  push:
    branches:
      - master
    paths-ignore:
      - "**.md"
  pull_request:
    branches:
      - master

env:
  PORT: "3000"
  GO_ENV: "test"
  JWT_SECRET: "pashinahui"
  BLOBS_DIR: "."
  DB_NAME: "shsdb"
  DB_HOST: "localhost:3306"
  DB_USERNAME: "root"
  DB_PASSWORD: "previetcomrade"
  CACHE_HOST: "localhost:6379"
  CACHE_PASSWORD: "previetcomrade"
  SUPERADMIN_USERNAME: "b"
  SUPERADMIN_PASSWORD: "kurwamatch"
  CI: true

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        ref: ${{ github.head_ref }}

    - name: Pull and create containers
      run: docker compose -f docker-compose-ci.yml up -d

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: lts/*

    - name: Install dependencies
      run: npm ci

    - name: Get installed Playwright version
      id: playwright-version
      run: |
        PLAYWRIGHT_VERSION=$(node -e "console.log(require('@playwright/test/package.json').version)")
        echo "Playwright's Version: $PLAYWRIGHT_VERSION"
        echo "PLAYWRIGHT_VERSION=$PLAYWRIGHT_VERSION" >> $GITHUB_ENV

    - name: Cache playwright binaries
      uses: actions/cache@v4
      id: playwright-cache
      with:
        path: '~/.cache/ms-playwright'
        key: ${{ runner.os }}-playwright-browsers-${{ env.PLAYWRIGHT_VERSION }}

    - name: Install Playwright Chromium Headless Browser Shell
      if: steps.playwright-cache.outputs.cache-hit != 'true'
      run: npx playwright install --only-shell chromium

    - name: Run tests
      run: make test-ci
